*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section{
  width: auto;
  height: auto;
}

/* riquadri */
.container1,  .container2{
  margin-top: 3px;
  margin-left: 13%;
  margin-right: 13%;
}

.ipad{
  position: relative;
  display: inline-block;
  /* background-color: lightgray; */
  width: 300px;
  height: 400px;
}
.iphone{
  position: relative;
  display: inline-block;
  background-color: lightgray;
  width: 300px;
  height: 400px;
}
.beat{
  position: relative;
  display: inline-block;
  background-color: lightgray;
  width: 300px;
  height: 400px;
}
/* riquadri */

/* prodotto1 */

.image_ipad{
  position: absolute;
  background-image: url(../img/pd1.jpg);
  width: 300px;
  height: 400px;
  /* top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%; */
}

.discount1{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 50px;
  height: 20px;
}

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.ipad:hover .heart{
  display: block;
}
/* /prodotto1 */

/* prodotto2 */


.red{
  background-color: red;
}
.image_iphone{
  position: absolute;
  background-image: url(../img/pd2.jpg);
  width: 300px;
  height: 372px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%;
}

.discount1{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 50px;
  height: 20px;
}

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.iphone:hover .heart{
  display: block;
}
/* /prodotto2 */

/* prodotto3 */

.image_beat{
  position: absolute;
  background-image: url(../img/pd3.jpg);
  width: 300px;
  height: 372px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%;
}

.discount1{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 50px;
  height: 20px;
}

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.beat:hover .heart{
  display: block;
}
/* /prodotto3 */

/* inizio sezione prodotti 2 */

/* prodotto4 */

.image_ipad{
  position: absolute;
  background-image: url(../img/pd1.jpg);
  width: 300px;
  height: 372px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%;
}

.discount2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 50px;
  height: 20px;
}

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.ipad:hover .heart{
  display: block;
}
/* /prodotto4 */

/* prodotto5 */

.image_iphone{
  position: absolute;
  background-image: url(../img/pd2.jpg);
  width: 300px;
  height: 372px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%;
}

.discount2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 50px;
  height: 20px;
}

/* .red{
  background-color: red;
} */

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.iphone:hover .heart{
  display: block;
}
/* /prodotto5 */

/* prodotto6 */

.image_beat{
  position: absolute;
  background-image: url(../img/pd3.jpg);
  width: 300px;
  height: 372px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 0%;
}

.discount2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 50px;
  height: 20px;
}

h4{
  color: red;
}
.heart{
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 48%;
  font-size: 200%;
  display: none;
}
.beat:hover .heart{
  display: block;
}
/* /prodotto6 */
